body {
     background-color: #000;
     color: white
}


p{
    color: #FFFFFF;
}


.titulo{
    font-size: 40px;
    color: chocolate;
    margin-left: 400px;
}

.top-section{
    background-color:rgb(65, 56, 56);
    width: 800px;
    margin-left: 100px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(128, 106, 106);
    padding-left: 15px;
}

.highlight{
    background: rgb(0, 0, 0);
    color: rgb(252, 0, 0);
}


.cuerpo{
    background-color:cadetblue;
    width: 500px;
    margin-left: 250px;
    border-width: 1;
    border-color: white;
    border-style: solid;
    padding: 10px;

}
/*Spaghetti*/

.topbar{
    background-color: cornflowerblue;
    padding-left: 10px 0;
}
.topbar nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.topbar nav ul li{
    display: inline;
    padding-left: 10px;
    margin-right: 20px;
}

/* this is a css comment*/
/* existen tres tipos de box model en css */
/*Margin:
  Border
  Padding:
*/